{% extends "layout/template.html" %}
{% block title %}Post{% endblock %}
{% block js %}
    <script src="{{ url_for('static', filename='js/page-handling/post-handler.js') }}"></script>
{% endblock %}
{% block content %}
    <div id="posts"></div>
    <div id="comments"></div>
    {% if sesh %}
    <form class="mt-3" name="newpost" id="newpost-form" action="http://127.0.0.1:5000/post/createComment" method="post">
        <div class="form-group">
            <label for="postInput">Add Comment</label>
            <textarea class="form-control" rows="5" name="comment_body"></textarea>
        </div>
        <input type="hidden" id="postID" name="post_id" value="{{ post_uuid }}">
        <button id="newpostButton" type="submit" class="btn btn-primary">Post</button>
    </form>
    {% endif %}
    
{% endblock %}