{% extends "layout/template.html" %}
{% block title %}Register{% endblock %}
{% block js %}
    <script src="{{ url_for('static', filename='js/page-handling/password-handler.js') }}"></script>
    <script src="{{ url_for('static', filename='js/page-handling/register-handler.js') }}"></script>
{% endblock %}
{% block extraParams %}col-4{% endblock %}
{% block content %}
    <h1>Register</h1>
    <div id="errorContainer" class="alert alert-warning" style="display: none;">
    </div>
	<form name="register" id="register-form" action="" method="POST">
        <div class="form-group">
            <label for="usernameInput">Username</label>
            <input type="text" class="form-control" name="usernameInput" aria-describedby="usernameHelp" placeholder="Enter username" required>
        </div>
        <div class="form-group">
            <label for="emailInput">Email address</label>
            <input type="email" class="form-control" name="emailInput" aria-describedby="emailHelp" placeholder="Enter email address" required>
        </div>
        <div class="form-group">
            <label for="surnameInput">Surname</label>
            <input type="text" class="form-control" name="surnameInput" aria-describedby="surnameHelp" placeholder="Enter surname" required>
        </div>
        <div class="form-group">
            <label for="forenameInput">Forename</label>
            <input type="text" class="form-control" name="forenameInput" aria-describedby="forenameHelp" placeholder="Enter forename" required>
        </div>
        <div class="form-group">
            <label for="dobInput">Date of birth</label>
            <input type="date" class="form-control" name="dobInput" aria-describedby="dateHelp" required> 
        </div>
        <div class="form-group">
            <label for="passwordInput">Password</label>
            <input type="password" class="form-control" name="passwordInput" placeholder="Enter password" required>
        </div>
        <div class="form-group">
            <label for="verifyPasswordInput">Verify password</label>
            <input type="password" class="form-control" name="verifyPasswordInput" placeholder="Verify password" required>
        </div>
		
		
		<div class="g-recaptcha" data-sitekey="6LdMQ98UAAAAAHzd5zalYhhvb6XT6DOJmfutwPDn"></div>
		<br>
		
        <button id="register-button" type="submit" class="btn btn-primary">Register</button>
        <!--button type="submit" class="btn btn-primary">Register</button-->
    </form>
{% endblock %}