{% extends "layout/template.html" %}
{% block title %}Settings{% endblock %}
{% block extraParams %}col-4{% endblock %}
{% block js %}
    <script src="{{ url_for('static', filename='js/page-handling/settings-handler.js') }}"></script>
{% endblock %}
{% block content %}
    <h1>Change Password</h1>
    <form id="password-form" action="http://127.0.0.1:5000/account/changePassword">
        <div class="form-group">
            <label for="oldPasswordInput">Old Password</label>
            <input type="password" class="form-control" name="old_p" id="old_p_in">
        </div>
        <div class="form-group">
            <label for="newPasswordInput">New Password</label>
            <input type="password" class="form-control" name="new_p" id="new_p_in">
        </div>
        <div class="form-group">
            <label for="verifyPasswordInput">Verify password</label>
            <input type="password" class="form-control" name="ver_p" id="new2_p_in">
        </div>
		<div id="captchaForm" class="g-recaptcha" data-sitekey="6LdMQ98UAAAAAHzd5zalYhhvb6XT6DOJmfutwPDn"></div>
        <div class="row justify-content-between mt-2">
            <button id="pw-change-id" type="submit" class="btn btn-secondary mx-3">Change Password</button>
        </div>        
    </form>

    <h1 class="mt-4">Delte Account</h1>
    <form id="delete-form" method="post">
        <div class="form-group mt-2">
            <button name="deleteButton" id="delete-button" type="button" class="btn btn-secondary">Delete Account</button>
        </div>
    </form>
    
{% endblock %}