<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{% block title %}{% endblock %} - Pirate's Cove!</title>
		
		<!-- JavaScript Dependancies -->
		<script src="static/js/jquery-3.4.1.min.js"></script>
		<script src="static/js/bootstrap.bundle.js"></script>
		{% if user %}
		<script src="static/js/page-handling/logout-handler"></script>
		{% endif %}
		{% block js %}{% endblock %}

		
		<!-- CSS Files -->
		<link rel="stylesheet" href="static/css/bootstrap-custom.css">
		<link rel="stylesheet" href="static/css/stylesheet.css">


		<link rel="icon" href="static/images/icon.png">
	</head>
	<body class="bg-light">
	
	<nav class="navbar navbar-expand-lg navbar-light bg-dark">
		<a class="navbar-brand" href="/home">
			<img src="static/images/logo3.png" alt="">
		</a>
		<a class="navbar-brand" href="/home">The Pirate Cove</a>
		<!-- Navbar toggle button for smaller displays -->
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a class="nav-link" href="/home">Home</a>
				</li>
				{% if user %}
				<li class="nav-item">
					<a class="nav-link" href="/newpost">Post</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="http://127.0.0.1:5000/account/sign-out">Logout</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/settings">Settings</a>
				</li>
				{% else %}
				<li class="nav-item">
					<a class="nav-link" href="/login">Login</a>
				</li>
				{% endif %}
		</ul>
		<form action="{{ url_for('search') }}" method="post" class="form-inline my-2 my-lg-0">
			<input class="form-control mr-sm-2" name="search" type="text" placeholder="Search" aria-label="Search">
			<button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
		</form>
		</div>
	</nav>


	<div id="main" class="container bg-dark py-3 my-3 {% block extraParams %}{% endblock %}">
		{% block content %}{% endblock %}
	</div>


	
	<nav class="fixed-bottom font-small bg-dark pt-3">
		<div class="row justify-content-center">
			<div class="col-3 col-md-3 my-auto">
				<h5>The Pirate Cove</h5>
				<p>&copy; The Pirate Cove 2020</p>
			</div>
			<div class="col-3 col-md-3 my-auto">
				<h5>Links</h5>
				<div class="row justify-content-left">
					<div class="col">
						<ul class="list-unstyled">
							<li><a href="/">Home</a></li>
						</ul>
					</div>
					<div class="col">						
						<ul class="list-unstyled">
							<li><a href="https://www.uea.ac.uk" target="_blank">University of East Anglia</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</nav>
	
	</body>
</html>